@using IMSEmpite.Utility

<div class="row">
    @if (User.IsInRole(SD.AdminEndUser))
    {
        <div class="col-6">
            <input type="submit" class="btn btn-info form-control" value="Create" />
        </div>
        <div class="col-6">
            <a asp-page="Index" class="btn btn-success form-control"> Back to List</a>
        </div>
    }
    @if (User.IsInRole(SD.ManagerEndUser))
    {
        <div class="col-6">
            <input type="submit" class="btn btn-info form-control" value="Create" />
        </div>
        <div class="col-6">
            <a asp-page="Index" class="btn btn-success form-control"> Back to List</a>
        </div>
    }
    @if (User.IsInRole(SD.ViewerEndUser))
    {
        <div class="col-6">
            <input type="submit" disabled class="btn btn-info form-control" value="Create" />
        </div>
        <div class="col-6">
            <a asp-page="Index" class="btn btn-success form-control"> Back to List</a>
        </div>
    }


</div>